.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #cecece;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    cursor: pointer;
}

.active {
    background-color: red;
}

.favorite_icon {
    width: 24px;
    height: 24px;
    background: url("../../../assets/icons/favorite_border-24px.svg") no-repeat center;
}
